/* resets css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* regra do goolgle fonts  */
    font-family: 'Catamaran', sans-serif;

}

a{
    text-decoration: none;
    color: #fff;
}

ul,ol{
    list-style: none;
}

.container{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;

}

.bg-dark{
    background-color: #000;

}

.bg-image1 {
    background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.6)),
    url(../images/pexels-michele-ferrari-4587324.jpg);
}

.bg-image2 {
    background-image: url(../images/pexels-david-kooijman-3591320.jpg);
}

